@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

nav {
  display: flex;
  flex-direction: row;
  width: 100%;
  position: sticky;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #6070ff;
  font-weight: bold;
  display: flex;
  float: left;
  margin: 2px 6%;
  font-size: 25px;
}

.burger {
  display: none;
  float: right;
  flex-direction: row;
}

nav ul {
  padding: 2px 50px;
}

nav ul li {
  padding: 25px;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}

main {
  background-image: url("img/Header.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  padding-bottom: 70px;
}

.head {
  padding: 2% 10%;
  padding-top: 200px;
  color: #172b4f;
}

.p1 {
  font-size: 20px;
  padding: 30px 10%;
  color: #344563;
  font-weight: 400px;
  line-height: 24px;
}

.part2 {
  display: flex;
  flex-direction: column;
  margin: 10px 10%;
}

.p2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

main ul li {
  display: inline-block;
  padding: 20px 4px;
}

.cards {
  display: flex;
  flex-direction: column;
  margin: 30px 15%;
  width: 70%;
  align-items: center;
  gap: 80px;
}

.card {
  display: flex;
  flex-direction: row;
  border: 1px solid gray;
  border-radius: 10px;
  gap: 30px;
  height: 350px;
  padding: 30px 2%;
  box-shadow: 4px 2px 4px lightgray;
}

.card2 {
  flex-direction: row-reverse;
}

.card-img {
  padding: 1%;
  width: 50%;
}

.card-img img {
  width: 100%;
  height: 350px;
}

.card-contents {
  padding: 1%;
  width: 50%;
}

.card-head {
  color: #344563;
  margin-bottom: 20px;
  padding-top: 20px;
}

.list li {
  display: inline-block;
  padding: 4px;
  font-size: 15px;
  font-weight: bolder;
  color: #344563;
}

.cards-para {
  padding: 5px;
  color: #344563;
  font-weight: 400px;
  line-height: 24px;
}

.languages li {
  color: #6070ff;
  margin: 10px 1%;
  padding: 8px;
  display: inline-block;
  background-color: #ebebff;
  border: none;
  border-radius: 8px;
}

.btn {
  background: white;
  border: 1px solid;
  width: 150px;
  height: 55px;
  border-radius: 8px;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.btn:hover {
  color: white;
  background-color: #6070ff;
  box-shadow: 2px 3px 5px #396df2;
  transition: ease 1s;
}

.btn a {
  text-decoration: none;
  color: #396df2;
}

.btn a:hover {
  color: white;
}


/*.popup {

/* .popup {

  position: fixed;
  overflow: auto;
  top: 0;
  left: 50%;
  height: 96vh;
  width: 80%;

  transform: translate(-50%, -50%) scale(0.1);

  transform: translate(-50%,-50%) scale(0.1);

  border: 1px solid gray;
  border-radius: 10px;
  box-shadow: 2px 5px 2px gray;
  visibility: hidden;
  background-color: white;
  transition: transform 0.4s, top 0.4s;
}

.popup-content {

  padding: 0 10px;

  padding: 0px 10px;

  width: 90%;
}

.pop-head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.popup-content .card-img {
  width: 100%;
  margin-left: 10px;
}

.popup-body {
  display: flex;
  flex-direction: row;
}

.popup-content .cards-para {
  width: 55%;
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 45%;
}

.popup-close {
  color: black;
  display: flex;
  top: 0;
  font-size: 36px;
  margin-left: 90%;
  text-decoration: none;
  cursor: pointer;
}

.open-popup {
  visibility: visible;
  top: 50%;

  transform: translate(-50%, -50%) scale(1);

  transform: translate(-50%,-50%) scale(1);

}

.btn-pop {
  width: 150px;
  font-size: 15px;
  margin: 5px;
}

.popup-body img {
  width: 12px;
}

.popup-b {
  display: flex;
  flex-direction: row;

}*/

/* Start from here */
/*.popup-menus {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0e5;
  backdrop-filter: blur(0.126rem);
}

.popup-main-container {
  margin: 2.5rem 4.6875rem 2.5rem 1.5625rem;
  background-color: white;
  border-radius: 1rem;
}

.popup-content {
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0.625rem;
}

.popup-heading {
  display: flex;
}

.popup-project1-title {
  color: #172b4d;
  font-weight: bold;
  padding: 10px;
  font-size: 2.5rem;
  line-height: 2.75rem;
  margin-bottom: 0.625rem;
}

.button-popup-close {
  position: absolute;
  right: 0;
  top: 3.125rem;
  background: transparent;
  cursor: pointer;
  width: 2.5rem;
  height: 3.125rem;
  border: none;
  font-weight: lighter;
  font-size: 1.25rem;
  margin-right: 1.25rem;
}

.popup-example-dev {
  display: flex;
  list-style-type: none;
  gap: 0.625rem;
  padding-left: 10px;
}

.popup-close {
  right: 3.75rem;
}*/

/*.dev1 {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #344563;
}

.dev2 {
  font-style: normal;
  font-weight: 600;
  font-size: 0.8125rem;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #7a869a;
}

.popup-project-img1 {
  width: 100%;
  height: 100%;
  margin-top: 0.9375rem;
  margin: 0 3.75rem;
}

.project-popup-info {
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #344563;
  margin-top: 0.625rem;
}

.popup-tags {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: baseline;
  color: #6070ff;
  width: auto;
  margin-left: 1.375rem;
}

.popup-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.0625rem;
  background-color: #ebebff;
  width: auto;
  border-radius: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.popup-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
  margin-left: 1.25rem;
}

.popup-button1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #396df2;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
  border: 0.0938rem solid #396df2;
  width: 8.75rem;
  margin-top: 0.9375rem;
  height: 3.125rem;
  border-radius: 0.75rem;
}

.popup-button1:hover {
  background-color: #396df2;
  color: #fff;
}

.popup-desktop {
    display: flex;
    margin-top: 0.625rem;
    justify-content: space-between;
  }

  .popup-container-img {
    background-color: #e5e5e5;
    margin-top: 1.5625rem;
    border-radius: 0.3125rem;
  }

  .project-popup-img1 {
    margin: 0 3.75rem;
  }

  .content-container {
    margin: 0.0625rem 3.75rem;
  }

  .project-popup-info1 {
    width: 70%;
    margin-bottom: 3.125rem;
    margin-left: 1.25rem;
    font-size: 1.0625rem;
  }

  .project-popup-info2 {
    margin-top: 0.625rem;
    width: 35%;
  }*/

  .popup-menus {
  display: none;
  position: fixed;
  z-index: 1;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #c1c7d0e5;
  backdrop-filter: blur(0.126rem);
}

.popup-main-container {
  width: 90%;
  margin: 5%;
  background-color: white;
  border-radius: 1rem;
}

.popup-content {
  display: flex;
  flex-direction: column;
  margin: 0.625rem 0.625rem;
}

.popup-heading {
  display: flex;
  flex-direction: row;
  padding: 10px 0;
  justify-content: space-between;
}

.popup-project1-title {
  color: #172b4d;
  font-weight: bold;
  font-size: 2rem;
  line-height: 2.75rem;
  margin-bottom: 0.625rem;
}

/* Button-styles-popup */

.popup-close {
  position: absolute;
  right: 0;
  cursor: pointer;
  width: 2.5rem;
  height: 3.125rem;
  font-size: 25px;
  margin-right: 1.25rem;
}

.popup-example-dev {
  display: flex;
  list-style-type: none;
  gap: 0.625rem;
  padding: 4px;
  padding-left: 10px;
}

.dev1 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 15px;
  color: #344563;
}

.dev2 {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 1rem;
  color: #7a869a;
}

.popup-project-img1 {
  width: 100%;
  height: 100%;
  margin-top: 0.9375rem;
}

.project-popup-info {
  font-weight: normal;
  font-size: 0.9375rem;
  line-height: 1.5rem;
  color: #344563;
  margin-top: 0.625rem;
}

.popup-tags {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  align-items: baseline;
  color: #6070ff;
  width: auto;
}

.popup-tag {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9375rem;
  background-color: #ebebff;
  width: auto;
  border-radius: 0.625rem;
  padding-left: 0.9375rem;
  padding-right: 0.9375rem;
}

.popup-button {
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.25rem;
  margin-top: 1.25rem;
}

.popup-button1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: #396df2;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  font-size: 1.125rem;
  text-decoration: none;
  border: 0.0938rem solid #396df2;
  width: 8.75rem;
  margin-top: 0.9375rem;
  height: 3.125rem;
  border-radius: 0.75rem;
}

.popup-button1:hover {
  background-color: #396df2;
  color: #fff;
}

/* desktop pop-up styles */

@media (min-width: 768px) {
  .popup-main-container {
    margin: 5%;
  }

  .popup-project1-title {
    padding: 10px;
    font-size: 2.5rem;
  }

  .popup-close {
    right: 5%;
    font-size: 40px;

  }

  .dev1 {
    font-size: 25px;
  }

  .dev2 {
    font-size: 25px;
  }

  .popup-desktop {
    display: flex;
    margin-top: 0.625rem;
    justify-content: space-between;
  }

  .popup-container-img {
    margin-top: 1.5625rem;
    border-radius: 0.3125rem;
    width: 100%;
  }

  .popup-container-img img {
    width: 99%;
  }

  .project-popup-img1 {
    margin: 0 3.75rem;
  }

  .content-container {
    margin: 0.0625rem 3.75rem;
  }

  .project-popup-info1 {
    width: 60%;
    margin-bottom: 3.125rem;
    font-size: 1.0625rem;
  }

  .project-popup-info2 {
    margin-top: 0.625rem;
    width: 40%;
  }

  .popup-tags {
    margin-left: 1.375rem;
  }

  .popup-tag {
    font-size: 1.0625rem;
  }

  .popup-button {
    margin-left: 1.25rem;
  }
}

/* End from here */

} */


.aside-contents {
  display: flex;
  flex-direction: row;
  width: 80%;
  margin: 50px 10%;
  gap: 10px;
}

.about {
  display: flex;
  flex-direction: column;
  width: 50%;
  color: #344563;
  font-weight: 400px;
  line-height: 24px;
}

.skills {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.texts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 15px;
}

.badges {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.badge {
  background-color: #f7f7f9;
  padding: 30px;
  border-radius: 8px;
  color: #344563;
  font-weight: bold;
  line-height: 24px;
}

.underline {
  background-color: gray;
  width: 100%;
  height: 1px;
}

.icons-list li {
  display: inline-block;
  padding: 20px 4px;
}

footer {
  background-image: url("img/cont2.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.footer-head {
  text-align: center;
  color: white;
  margin: 200px 1%;
  font-size: 30px;
  margin-bottom: 30px;
}

.footer-para {
  text-align: center;
  color: white;
  width: 30%;
  margin: 30px 35%;
  font-size: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

form label input {
  width: 355px;
  height: 13px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  padding: 20px;
  margin: 10px 1%;
}

form label textarea {
  width: 355px;
  height: 200px;
  border: none;
  border-radius: 8px;
  font-size: 17px;
  font-weight: 400;
  padding: 20px;
  margin: 10px 1%;
}

.sign {
  margin: 10px 45%;
  width: 10%;
  height: 3px;
}

.closebtn {
  display: none;
}

@media screen and (max-width: 768px) {
  .burger {
    display: inline-block;
    margin: 1px 100%;
  }

  .burgeract {
    visibility: hidden;
  }

  nav {
    position: absolute;
  }

  nav ul {
    display: block;
  }

  .sidebar {
    visibility: hidden;
    background-color: #6070ff;
    mix-blend-mode: multiply;
    backdrop-filter: blur(4px);
    width: 87%;
    height: 110vh;
    opacity: 1;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
  }

  .show {
    visibility: visible;
  }

  nav ul li {
    display: block;
    flex-direction: column;
    width: 100%;
    padding: 20px;
  }

  nav ul li a {
    color: white;
  }

  .closebtn {
    display: block;
    position: absolute;
    top: 5px;
    right: 15%;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    text-decoration: none;
    cursor: pointer;
  }

  .head {
    padding: 2% 10%;
    padding-top: 30%;
    color: #172b4f;
  }

  main {
    background-image: url("img/header (2).png");
  }

  .card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
  }

  .card-img {
    padding: 2px;
    width: 100%;
  }

  .card-contents {
    padding: 2%;
    width: 100%;
  }

  .aside-contents {
    flex-direction: column;
  }

  .about {
    width: 100%;
  }

  .skills {
    width: 100%;
  }

  .badges {
    flex-direction: column;
  }

  .badge {
    height: 50px;
    margin: 10px 1%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: center;
  }


  /*.project-popup-info {
    display: flex;
    flex-direction: column;
  }

  .project-popup-info1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 3.125rem;
    margin-left: 1.25rem;
    font-size: 1.0625rem;
  }

  .project-popup-info2 {
    display: flex;
    flex-direction: column;
    margin-top: 0.625rem;
    width: 100%;
  }

  .popup-tags {
    margin-left: 0;
  }

  .popup-tag {
    font-size: 0.9375rem;
  }

  .popup-button {
    margin-left: 0;
  }*/

  /* .popup {

    position: fixed;
    overflow: auto;
    top: 0;
    left: 50%;
    height: 96vh;
    width: 65%;

    transform: translate(-50%, -50%) scale(0.1);

    transform: translate(-50%,-50%) scale(0.1);

    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 2px 5px 2px gray;
    visibility: hidden;
    background-color: white;
    transition: transform 0.4s, top 0.4s;
  }

  .popup-content {

    padding: 0 10px;

    padding: 0px 10px;

  }

  .popup-close {
    color: black;
    display: block;
    top: 0;
    font-size: 36px;
    margin-left: 45%;
    text-decoration: none;
    cursor: pointer;
  }

  .pop-head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .open-popup {
    visibility: visible;
    top: 50%;

    transform: translate(-50%, -50%) scale(1);

    transform: translate(-50%,-50%) scale(1);

  }

  .btn-pop {
    width: 100px;
    font-size: 13px;
  }

  .popup-body {
    display: flex;
    flex-direction: column;
  }

  .popup-content .cards-para {
    width: 100%;
  }

  .buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .popup-content img {
    height: 20%;

  } */

  footer {
    background-image: url("img/Contact\ me.png");
  }

  .footer-para {
    width: 60%;
    margin: 30px 20%;
  }

  form label input {
    width: 300px;
  }

  form label textarea {
    width: 300px;
  }
}
