@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

.backimg {
  background-image: url("img/header-shapes mobile.png");
  background-size: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 600px;
}

.bar {
  cursor: pointer;
  margin: 0;
  display: block;
  padding-right: 30px;

}

.b1,
.b2,
.b3 {
  width: 25px;
  height: 3px;
  background-color: darkblue;
  margin: 4px 0;
}

.logo {
  color: #6070ff;
  line-height: 75px;
  font-weight: bold;
  font-size: 25px;
  line-height: 35px;
  padding-left: 30px;
  padding-right: 150px;
  text-decoration: none;
}

header {
  overflow: auto;
  background: white;
  height: 70px;
  width: 100%;
  display: flex;
  align-items: center;
  position: sticky;
  justify-content: center;
}

header ul {
  float: right;
}

header ul li {
  display: inline-block;
  line-height: 75px;
  margin: 0 5px;
}

header ul li a {
  color: black;
  font-size: 17px;
  padding: 7px;
}

/*s*/

.h {
  display: flex;
  flex-direction: column;
  margin: 38px 30px;
}

h1 {
  padding-top: 65px;
  font-weight: 700px, bold;
  font-size: 45px;
  line-height: 50px;
  color: #172b4f;
  width: 100%;
  justify-items: center;
}

section .p1 {
  color: #344563;
  font-weight: 400px;
  line-height: 24px;
  font-size: 20px;
  width: 100%;
  margin-top: 9px;
}

section .p2 {
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  margin-top: 10px;
}

.grid1 {
  margin: 20px;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  align-items: center;
  margin-left: 27px;
  justify-content: center;
  border: 1px solid lightgrey;
  width: 320px;
  height: auto;
  border-radius: 20px;
}

.lang img {
  padding-right: 30px;
}

.lang1 img {
  padding-right: 30px;
}

.lang2 img {
  padding-right: 16px;
}

.grid1 img {
  margin-top: 20px;
  margin-left: 12px;
}

.contents {
  margin-left: 13px;
}

.contents button {
  background: white;
  border: 1px solid;
  width: 150px;
  height: 37px;
  border-radius: 5px;
  font-size: 17px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #396df2;
  font-weight: bold;
}

.brand {
  color: #344563;
  margin-right: 2px;
  font-weight: bold;
}

ul li .p {
  color: #344563;
  font-weight: normal;
}

section ul li h2 {
  color: #172b4d;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
}

section ul li {
  display: inline-block;
  color: #7a869a;
  font-weight: bold;
}

.li2 li {
  color: #6070ff;
  margin-top: 5px;
  padding: 10px;
  margin-right: 7px;
  background-color: #ebebff;
  border-radius: 8px;
}

.lang {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.lang h2 {
  padding-left: 20px;
  padding-right: 150px;
}

.skills {
  display: flex;
  background-color: #f7f7f9;
  border-radius: 8px;
  width: 320px;
  height: 80px;
  margin-top: 20px;
  margin-left: 30px;
  flex-direction: column;
}

.skills div p {
  margin-right: 130px;
  line-height: 20px;
  margin-top: 25px;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #253858;
}

.margin {
  padding-right: 40px;
  padding-left: 15px;
}

.skills div img {
  flex-direction: row;
  padding-left: 20px;
  margin-top: 16px;
}

.lang1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.lang1 h2 {
  padding-left: 30px;
  padding-right: 130px;
}

.lang2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 50px;
}

.lang2 h2 {
  padding-left: 15px;
  padding-right: 220px;
}

.line {
  flex-direction: column;
  border: none;
  border-radius: 8px;
  width: 320px;
  height: 2px;
  background-color: lightgrey;
  position: absolute;
  margin-left: 25px;
  margin-top: 5px;
  margin-bottom: 5px;
}

footer {
  background-image: url("img/Contact.png");
  background-repeat: no-repeat;
  background-size: cover;
  height:80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 20px;
  margin-top: 100px;
}

.decription {
  margin-top: -80px;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  text-align: center;
}

.footer-heading {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  text-align: center;
  color: #FFFFFF;
}
#description-text{
  font-size: 25px;
  font-weight: 400;
  line-height: 28px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  margin-top: 30px;
}
form label input{
  width: 330px
}

.btn-2 {
  width: 140px;
  height: 48px;
  color: #6070FF;
  font-size: 17px;
  font-weight: 500;
  background-color: #FFFFFF;
  border-radius: 8px;
  border:none;
}